﻿@using TMT.Core.Models
@model IEnumerable<TMT.Core.Models.Contest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Team statistics</legend>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#stat-1" onclick="redrawCharts()">Results</a></li>
    <li><a data-toggle="tab" href="#stat-2" onclick="redrawCharts()">Solved problems</a></li>
</ul>

<div class="tab-content">
    <div id="stat-1" class="tab-pane fade in active">
        <div id="container-1" style="width:100%; height:400px;"></div>
    </div>
    <div id="stat-2" class="tab-pane fade">
        <div id="container-2" style="width:100%; height:400px;"></div>
    </div>
</div>


<script>
    var charts = [];
    $(function () {
        charts.push(Highcharts.chart('container-1', {
            title: {
                text: 'Team results',
                x: -20 //center
            },
            xAxis: {
                categories: [
                    @{
                        int i = 0;
                        foreach (var contest in Model)
                        {
                            ++ i;
                            @Html.Raw((i != 1 ? "," : "") + i)
                        }
                    }
                ]
            },
            yAxis: {
                title: {
                    text: 'Place'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
            },
            series: [{
                name: 'Results',
                data: [
                    @{
                        i = 0;
                        foreach (var contest in Model)
                        {
                            ++ i;
                            @Html.Raw((i != 1 ? "," : "") + (int)contest.Result)
                        }
                    }
                ]
            }]
        }));
    });

    $(function () {
        charts.push(Highcharts.chart('container-2', {
            title: {
                text: 'Team solved problems',
                x: -20 //center
            },
            xAxis: {
                categories: [
                    @{
                        i = 0;
                        foreach (var contest in Model)
                        {
                            ++ i;
                            @Html.Raw((i != 1 ? "," : "") + i)
                        }
                    }
                ]
            },
            yAxis: {
                title: {
                    text: 'Solved problems'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
            },
            series: [{
                name: 'Solved problems',
                data: [
                    @{
                        i = 0;
                        foreach (var contest in Model)
                        {
                            ++ i;
                            @Html.Raw((i != 1 ? "," : "") + (int)contest.Problems.Where(p => p.Solved == true).Count())
                        }
                    }
                ]
            }]
        }));
    });

    var redrawCharts = function () {
        setTimeout(function () { 
        charts.forEach(function (chart) {
            chart.redraw();
            chart.reflow();
        });
        }, 200);
    }


</script>