﻿@{
    ViewBag.Title = "AllProblems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TMT.Core.Models.Admin.SolvedProblem>

<legend>All solved problems</legend>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User name</th>
            <th>Contest name</th>
            <th>Problem id</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TMT.Core.Models.Admin.SolvedProblem problem in Model)
        {
            <tr>
                <td>@problem.UserName</td>
                <td>@problem.ContestName</td>
                <td>@problem.ProblemId</td>
                <td>@problem.Date</td>
             </tr>
        }
    </tbody>
</table>