﻿@{
    ViewBag.Title = "BlockedProblems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TMT.Core.Models.Admin.BlockedProblem>

<legend>Block problems for users:</legend>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User name</th>
            <th>Contest name</th>
            <th>Problem id</th>
            <th>Date</th>
            <th>Blocked</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (TMT.Core.Models.Admin.BlockedProblem problem in Model)
        {
            <tr>
                <td>@problem.UserName</td>
                <td>@problem.ContestName</td>
                <td>@problem.ProblemId</td>
                <td>@(((DateTime)problem.Date).ToString("dd/MM/yyyy"))</td>
                <td>@problem.Blocked</td>
                <td>
                    @if (problem.Blocked == null || problem.Blocked == false)
                    {
                        @Html.ActionLink("Block", "BlockProblem", "Admin", new { problemId = problem.Id }, new { })
                    }
                    else
                    {
                        @Html.ActionLink("Unblock", "UnblockProblem", "Admin", new { problemId = problem.Id }, new { })
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
