﻿@{
    ViewBag.Title = "ContestsInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TMT.Core.Models.Problems
@using TMT.Core.Models
@using TMT.Core.Models.Admin

@model IEnumerable<TMT.Core.Models.Admin.ContestWithUser>


<legend>Contests info</legend>

<table class="table table-striped">
    <thead>
        <tr>
            <th>User name</th>
            <th>Contest name</th>
            <th>Problems</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ContestWithUser contest in Model)
        {
            <tr>
                <td>@contest.UserName</td>
                <td>@contest.Contest.Name</td>
                <td>@showProblems(contest.Contest.Problems)</td>
            </tr>
        }
    </tbody>
</table>

@helper showProblems(IEnumerable<Problem> problems)
{
    foreach (var problem in problems)
    {
        if (problem.Solved == false)
        {
            <span class="glyphicon glyphicon-remove"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-ok"></span>
        }
    }
}