﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Index</legend>

@Html.ActionLink("Block problems for users", "BlockedProblems")
<br/>
@Html.ActionLink("View all solved problems", "AllSolved")
<br />
@Html.ActionLink("View contests info", "ContestsInfo")
<br />