﻿@{
    ViewBag.Title = "Home Page";
}

<legend>Tool for team managment</legend>
<ul>
    <li>
        Add contests
    </li>
    <li>
        Keep track of unsolved problems
    </li>
    <li>
        Watch team statistics
    </li>
</ul>