﻿@using TeamManagmentTool.Models

@{
    ViewBag.Title = "Log in";
}

@model LoginModel

<legend>Log In</legend>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { })) { 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.UserName, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.RememberMe, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input" })
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Log in" />
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}