﻿@using TeamManagmentTool.Models
@{
    ViewBag.Title = "Manage Account";
}

<legend>@ViewBag.Title</legend>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
