﻿@using TeamManagmentTool.Models
@model RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <legend>Registration Form</legend>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.UserName, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Register" />
}

