﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TMT.Core.Models.Contests.ContestCreateModel

<legend>@ViewBag.ActionTitle</legend>

@using (Html.BeginForm((string)ViewBag.SubmitAction, "Contests", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Description, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Result, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.Result, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.ProblemsCount, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.ProblemsCount, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Date, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-2">
            <div class="input-append date form_datetime">
                <input size="16" type="text" value="@Model.Date.ToString("dd/MM/yyyy")" readonly name="Date">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.UserId);
    <input type="submit" class="btn btn-primary" value="Create" />
}

<script>
    $(".form_datetime").datetimepicker({
        format: "dd/MM/yyyy"
    });
</script>