﻿@using TMT.Core.Models
@model IEnumerable<TMT.Core.Models.Contest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Contests</legend>

<a class="btn btn-default" href="/Contests/Create">Create contest</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>When</th>
            <th>Result</th>
            <th>Problems</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contest contest in Model)
        {
            <tr>
                <td>@contest.Name</td>
                <td>@contest.Description</td>
                <td>@(((DateTime)contest.Date).ToString("dd/MM/yyyy"))</td>
                <td>@contest.Result</td>
                <td>@showProblems(contest.Problems)</td>
                <td>@Html.ActionLink("Edit", "Edit", "Contests", new { contestId = contest.Id }, new { }) | @Html.ActionLink("Delete", "Delete", "Contests", new { contestId = contest.Id }, new { })</td>
            </tr>
        }
    </tbody>
</table>

@helper showProblems(IEnumerable<Problem> problems)
{
    foreach (var problem in problems)
    {
        if (problem.Solved == false)
        {
            <span class="glyphicon glyphicon-remove"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-ok"></span>
        }
    }
}