﻿@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model TMT.Core.Models.Problems.ProblemEditModel

<legend>Edit problem</legend>

@using (Html.BeginForm("Edit", "Problems", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.ContestName, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.ContestName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.ProblemId, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.DisplayFor(m => m.ProblemId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Solved, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.EditorFor(m => m.Solved, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-2">
            @Html.LabelFor(m => m.Comments, new { @class = "col-form-label" })
        </div>
        <div class="col-xs-5">
            @Html.TextBoxFor(m => m.Comments, new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.Id);
    @Html.HiddenFor(m => m.ContestId);
    <input type="submit" class="btn btn-primary" value="Edit" />
}