﻿@using TMT.Core.Models
@model IEnumerable<TMT.Core.Models.Problem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Problems</legend>

<div class="row">
    <div class="col-xs-2">
        <select class="form-control" id="filter">
            <option value="" @Html.Raw(ViewBag.FilterBySolved == null ? "selected" : "")>All</option>
            <option value="false" @Html.Raw(ViewBag.FilterBySolved == false ? "selected" : "")>Unsolved</option>
            <option value="true" @Html.Raw(ViewBag.FilterBySolved == true ? "selected" : "")>Solved</option>
        </select>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Contest</th>
            <th>Problem</th>
            <th>Solved</th>
            <th>Comments</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Problem problem in Model)
        {
            <tr>
                <td>@problem.Contest.Name</td>
                <td>@problem.ProblemId</td>
                <td>@solvedIcon(problem.Solved)</td>
                <td>@problem.Comments</td>
                <td>@problem.Date</td>
                <td>@if (problem.Blocked != true && problem.Solved == false) {
                        @Html.ActionLink("Solve", "Solve", "Problems", new { problemId = problem.Id }, new { }) 
                    }
                    else if (problem.Blocked != true)
                    { 
                        @Html.ActionLink("Unsolve", "Unsolve", "Problems", new { problemId = problem.Id }, new { })  
                    } @Html.ActionLink("Edit", "Edit", "Problems", new { problemId = problem.Id }, new { })</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        var filters = $('#filter option');
        $('#filter').on("change", function () {
            filters.each(function () {
                var filter = $(this);
                if (filter.prop("selected") === true) {
                    var val = filter.val();
                    window.location.href = "/Problems?solved=" + val;
                }
            });
        });
    });
</script>

@helper solvedIcon(bool? verdict) { 
    if (verdict == false)
    {
        <span class="glyphicon glyphicon-remove"></span>
    } 
    else
    {
        <span class="glyphicon glyphicon-ok"></span>
    }
}
